.post-code-filter-container {
  margin-top: 15px;
}

.discription-text {
  margin-left: 10px;
  margin-right: 10px;
}

.filter-input-container {
  margin-top: 10px;
}

.filter-input {
  height: 20px;
}
